%section.content_after_navbar
    %p#notice= notice
    %h1= @post.name
    = image_tag(url_for(@post.avatar))
    .br
    = link_to 'Edit', edit_post_path(@post)
    \|
    = link_to 'Back', posts_path
